body {
    margin:0;
    padding:0;
    font-family:Tahoma;
    color:#4D4D4D;
}
.wrap {
    background: #F7F7F7;
    margin-top:200px;
    padding: 0 0 18px 0;
}
.heading {
    background: #43D1AF;
    display: block;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.b-name{
    width:100%;
    padding:5px 0 5px 10px;
}
.b-author{
    width:100%;
    padding:5px 0 5px 10px;
}
.b-category{
    width: 100%;
    padding:5px 0 5px 10px;
}
#b-name{
    width: 100%;
    margin: 10px 0 10px 0;
    margin-left: 10px;
}
#b-author{
    width: 100%;
    margin: 10px 0 10px 0;
    margin-left: 10px;
}
#b-category{
    width: 100%;
    margin: 10px 0 10px 0;
    margin-left: 10px;
}
.all-button {
    width:90%;
    margin-left: 8%;
}
.same {
    margin-right: 4%;
    padding: 10px 20px;
    background: #43D1AF;
    color: #ffffff;
    font-weight: normal;
}
.same:last-child{
    margin-right;0;
}